<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backup.server.mapper.BkTaskMapper">

    <resultMap type="BkTask" id="BkTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="target"    column="target"    />
        <result property="backupPath"    column="backup_path"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectBkTaskVo">
        select task_id, target, backup_path, start_time, end_time, status, remark, deleted, create_time, create_by, update_time, update_by from bk_task
    </sql>

    <select id="selectBkTaskList" parameterType="BkTask" resultMap="BkTaskResult">
        <include refid="selectBkTaskVo"/>
        <where>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="backupPath != null  and backupPath != ''"> and backup_path = #{backupPath}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>

    <select id="selectBkTaskByTaskId" parameterType="Long" resultMap="BkTaskResult">
        <include refid="selectBkTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertBkTask" parameterType="BkTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into bk_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="target != null">target,</if>
            <if test="backupPath != null">backup_path,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="target != null">#{target},</if>
            <if test="backupPath != null">#{backupPath},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateBkTask" parameterType="BkTask">
        update bk_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="target != null">target = #{target},</if>
            <if test="backupPath != null">backup_path = #{backupPath},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteBkTaskByTaskId" parameterType="Long">
        delete from bk_task where task_id = #{taskId}
    </delete>

    <delete id="deleteBkTaskByTaskIds" parameterType="String">
        delete from bk_task where task_id in
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>
